<!DOCTYPE html>
<html>
  <head>
    <title>TurboCafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="bg-gray-700 h-16 px-4 flex items-center">
      <p class="text-white font-bold italic text-xl">Turbo Cafe</p>
    </nav>
    <%= yield %>
  </body>
</html>
